<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DevelopersDiaryApplication"
            connectionString="Data Source=146.230.177.46\ISTN3;Initial Catalog=ist3gq;User ID=ist3gq;Password=z5u4rl;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="OpenRouterApiKey" value="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"/>
	</appSettings>
</configuration>